<h2> <%= @restaurant.name.capitalize %> </h2>
<%= @restaurant.address%>
<%= @restaurant.phone_number%>
<%= @restaurant.category%>
<% @restaurant.reviews.each do |rev| %>
  <%= rev.rating %>
  <%= rev.content%>
<% end %>
<%= link_to "Back to all restaurants", restaurants_path %>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
